<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flexing</title>
    <link rel="stylesheet" href="../../script/css/flexing.css">
</head>
<body>
    <!-- First -->
    <h3>First</h3>
    <div class="container" id="container">
        <div class="item">Kentang</div>
        <div class="item">Tomat Ceri Merah</div>
        <div class="item">Buah Bit Merah</div>
    </div>
    <!-- Second : 150px -->
    <h3>Second</h3>
    <div class="container" id="container-next">
        <div class="item item-x">Kentang</div>
        <div class="item item-x">Tomat Ceri Merah</div>
        <div class="item item-x">Buah Bit Merah</div>
        <div class="item item-x">Jagung Capcay</div>
        <div class="item item-x">Sawi Putih</div>
        <div class="item item-x">Bayam Merah</div>
        <div class="item item-x">Arcis</div>
        <div class="item item-x">Jamur Kuping</div>
        <div class="item item-x">Bunga Kol</div>
        <div class="item item-x">Asparagus</div>
    </div>
    <!-- Third : auto -->
    <h3>Third</h3>
    <div class="container" id="container-next">
        <div class="item">Kentang</div>
        <div class="item">Tomat Ceri Merah</div>
        <div class="item">Buah Bit Merah</div>
        <div class="item">Jagung Capcay</div>
        <div class="item">Sawi Putih</div>
        <div class="item">Bayam Merah</div>
        <div class="item">Arcis</div>
        <div class="item">Jamur Kuping</div>
        <div class="item">Bunga Kol</div>
        <div class="item">Asparagus</div>
    </div>
    <!-- Fourth : tags format -->
    <h3>Fourth</h3>
    <ul class="tags">
        <li>Kentang</li>
        <li>Tomat Ceri Merah</li>
        <li>Buah Bit Merah</li>
        <li>Jagung Capcay</li>
        <li>Sawi Putih</li>
        <li>Bayam Merah</li>
        <li>Arcis</li>
        <li>Jamur Kuping</li>
        <li>Bunga Kol</li>
        <li>Asparagus</li>
    </ul>

    <!-- Fifth : center -->
    <h3>Fifth</h3>
    <div class="xontainer">
        <div class="itemx">Centered</div>
    </div>

    <!-- Sixth : 1-Dimensional Components -->
    <h3>Sixth</h3>
    <form>
        <div class="fields">
            <label for="search">Keywords</label>
            <input type="search" id="search">
            <input type="submit" label="search">
        </div>
    </form>

    <!-- Seventh : Layout -->
    <h3>Seventh</h3>
    <div class="layout">
        <header class="header">Header</header>
        <main class="content">Main</main>
        <footer class="footer">Footer</footer>
    </div>
</body>
</html>