<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Snap</li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Great Wall</h3>
        <p>A beautiful wall located in China.</p>
    </main>
    <footer>
        <p>Wesley &copy;2019</p>
    </footer>
</body>
</html>