<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Documentation</title>
</head>
<body>
    <nav id="navbar">
        <header>
            <h1>Python Documentation</h1>
        </header>
        <ul>
            <a href="#Introduction" class="nav-link" rel="internal">
                <li>Introduction</li>
            </a>
            <a href="#Variables" class="nav-link" rel="internal">
                <li>Variables</li>
            </a>
            <a href="#Control_Flow_Conditional_Statements" class="nav-link" rel="internal">
                <li>Control Flow</li>
            </a>
            <a href="#Looping_Iterator" class="nav-link" rel="internal">
                <li>Looping/Iterator</li>
            </a>
            <a href="#List_Collection_Array_Data_Structure" class="nav-link" rel="internal">
                <li>List : Collection|Array|Data Structure</li>
            </a>
            <a href="#Dictionary_Key-Value_Data_Structure" class="nav-link" rel="internal">
                <li>Dictionary : Key-Value Data Structure</li>
            </a>
            <a href="#Iteration_Looping_Through_Data_Structures" class="nav-link" rel="internal">
                <li>Iteration : Looping Through Data Structures</li>
            </a>
        </ul>
    </nav>
    
    <!-- Main -->
    <main id="main-doc">
        <section class="main-section" id="Introduction">
            <header>Introduction</header>
            <article>
                <p>First of all, what is Python? According to its creator, Guido van Rossum, Python is a:</p>
                
                <blockquote>
                    “high-level programming language, and its core design philosophy is all about code readability and a syntax which
                allows programmers to express concepts in a few lines of code.”</blockquote>

                <p>For me, the first reason to learn Python was that it is, in fact, a beautiful programming language. It was really
                natural to code in it and express my thoughts.</p>

                <p>Another reason was that we can use coding in Python in multiple ways: data science, web development, and machine
                learning all shine here. Quora, Pinterest and Spotify all use Python for their backend web development. So let’s learn
                a bit about it.</p>
            </article>
        </section>
        <section class="main-section" id="Variables">
            <header>Variables</header>
            <article>
                <p>You can think about variables as words that store a value. Simple as that.</p>
                
                <p>In Python, it is really easy to define a variable and set a value to it. Imagine you want to store number 1 in a
                variable called “one.” Let’s do it:</p>
                



            </article>
        </section>
        <section class="main-section" id="Control_Flow_Conditional_Statements">
            <header></header>
            <article></article>
        </section>
        <section class="main-section" id="Looping_Iterator">
            <header></header>
            <article></article>
        </section>
        <section class="main-section" id="List_Collection_Array_Data_Structure">
            <header></header>
            <article></article>
        </section>
        <section class="main-section" id="Dictionary_Key-Value_Data_Structure">
            <header></header>
            <article></article>
        </section>
        <section class="main-section" id="#Iteration_Looping_Through_Data_Structures">
            <header></header>
            <article></article>
        </section>
    </main>
<footer class="source">
    <h3>Source for this documentation is based from this <a href="https://medium.freecodecamp.org/learning-python-from-zero-to-hero-120ea540b567" target="_blank">blog</a>.</h3>
</footer>
</body>
</html>