.container {
    display: flex;
}

.user-list {
    flex: 1;
    margin: 1em;
}

.user-item {
    background-color: #cbe9f5;
    border-radius: 0.3em;
    padding: 0.4em;
}

.user-item.fixed {
    border: 2px solid transparent;
}

.user-item:hover{
    background-color: #efefd7;
    border: 2px solid #a7a784;
}

.user-item + .user-item{
    margin-top: 0.5em;
}