body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    width: 12vw;
    border: 2px solid crimson;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-header {
    color: rgb(240, 62, 62);
    background-color: rgb(252, 168, 181);
    text-align: center;
    font-weight: 600;
    padding: .3em .5em;
    border-bottom: 2px solid crimson;
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

.icons {
    font-size: 2em; 
    color: rgb(240, 62, 62);
    margin-bottom: .3em;
}

.main-description {
    color: rgb(240, 62, 62);
    font-size: 1em;
    text-align: center;
}