* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 auto;
    overflow-y: scroll;
    margin-left: 110px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 1em;
    color: #333;
}

.title {
    text-align: center;
    color: white;
    margin-right: 110px;
}

/* Top Table */

.top-table {
    display: grid;
    grid-template-rows: repeat(7, 120px);
    grid-template-columns: repeat(18, 120px); 
    margin: 0 auto;
}

.atom, .exp {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
}

.atom-2 {
    grid-column: 18;
}

.atom-5, .atom-13 {
    grid-column: 13;
}

/* Bot Table */
.wrapper-2 {
    margin-left: 85px;
}

.bot-table {
    display: grid;
    grid-template-rows: repeat(2,120px);
    grid-template-columns: repeat(18,120px);
    /* justify-content: center; */
    margin: 0 auto;
    padding: 0;
}

.atom-57, .atom-89 {
    grid-column: 2;
}

/* Explanation */

.explanation {
    display: grid;
    grid-template-rows: repeat(2,120px);
    grid-template-columns: repeat(18,120px);
    margin: 0 auto;
}

.exp-1 {
    grid-column: 4;
}

.exp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    overflow: hidden;
}

.atom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center;
    text-align: center;
    overflow: hidden;
}

/* font */
.atomic-number {
    font-size: 14px;
    font-weight: bold;
}

abbr {
    font-size: 24px;
    font-weight: 1000;
}

.atomic-name {
    font-size: 14px;
    font-weight: bold;
}

/* color */
.alkali-metal {
    background-color: rgb(248, 123, 100);
    border: 10px solid rgb(211, 70, 45);
}

.alkaline-earth {
    background-color: rgb(253, 170, 15);
    border: 10px solid rgb(206, 147, 39);
}

.transition-metal {
    background-color: rgb(236, 236, 81);
    border: 10px solid rgb(204, 204, 58);
}

.basic-metal {
    background-color: rgb(26, 204, 26);
    border: 10px solid rgb(28, 151, 28);
}

.metalloid {
    background-color: rgb(107, 230, 247);
    border: 10px solid rgb(23, 201, 201);
}

.nonmetal {
    background-color: rgb(64, 139, 252);
    border: 10px solid rgb(17, 76, 165)
}

.halogen {
    background-color: rgb(145, 105, 240);
    border: 10px solid rgb(73, 40, 150)
}

.noble-gas {
    background-color: violet;
    border: 10px solid rgb(150, 55, 150);
}

.lanthanide {
    background-color: rgb(226, 88, 116);
    border: 10px solid rgb(187, 41, 70);
}

.actinide {
    background-color: rgb(238, 105, 160);
    border: 10px solid rgb(197, 75, 126);
}