<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../script/css/card.css">
</head>
<body>
    <div class="card">
        <header class="card-header">Night</header>
        <main class="card-main">
            <i class="icons fas fa-hot-tub"></i>
            <div class="main-description">
                Hot Tub
            </div>
        </main>
    </div>
</body>
</html>