<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Griding</title>
    <link rel="stylesheet" href="../../script/css/griding.css">
</head>
<body>
    <!-- First : Basic-->
    <h3>First</h3>
    <div class="container">
        <div class="letter letter-1">W</div>
        <div class="letter letter-2">E</div>
        <div class="letter letter-3">S</div>
        <div class="letter letter-4">L</div>
        <div class="letter letter-5">E</div>
        <div class="letter letter-6">Y</div>
    </div>
    <!-- Second : Placing -->
    <h3>Second</h3>
    <div class="container-2">
        <div class="letter letter-1 letter--1">W</div>
        <div class="letter letter-2 letter--2">E</div>
        <div class="letter letter-3 letter--3">S</div>
        <div class="letter letter-4 letter--4">L</div>
        <div class="letter letter-5 letter--5">E</div>
        <div class="letter letter-6 letter--6">Y</div>
    </div>
    <!-- Third : Grid Area -->
    <h3>Third</h3>
    <div class="container-3">
        <div class="letter letter-1 letter--01">W</div>
        <div class="letter letter-2 letter--02">E</div>
        <div class="letter letter-3 letter--03">S</div>
        <div class="letter letter-4 letter--04">L</div>
        <div class="letter letter-5 letter--05">E</div>
        <div class="letter letter-6 letter--06">Y</div>
    </div>
    <!-- Fourth : (Justify, Align, Place)-self-items-->
    <h3>Fourth</h3>
    <div class="container container_edit">
        <div class="letter letter-1 letter_1">W</div>
        <div class="letter letter-2 letter_2">E</div>
        <div class="letter letter-3 letter_3">S</div>
        <div class="letter letter-4 letter_4">L</div>
        <div class="letter letter-5 letter_5">E</div>
        <div class="letter letter-6 letter_6">Y</div>
    </div>
    <!-- Fifth : align, justify, place-content and fr-->
    <h3>Fifth</h3>
    <div class="wrapper">
        <div class="letter-1">W</div>
        <div class="letter-2">E</div>
        <div class="letter-3">S</div>
        <div class="letter-4">L</div>
        <div class="letter-5">E</div>
        <div class="letter-6">Y</div>
    </div>
    <!-- Sixth : grid-auto-flow -->
    <h3>Sixth</h3>
    <div class="wrapper-next">
        <div class="letter letter-1 letter_01">W</div>
        <div class="letter letter-2 letter_02">E</div>
        <div class="letter letter-3 letter_03">S</div>
        <div class="letter letter-4 letter_04">L</div>
        <div class="letter letter-5 letter_05">E</div>
        <div class="letter letter-6 letter_06">Y</div>
    </div>
    <!-- Seventh : naming -->
    <h3>Seventh</h3>
    <div class="wrap">
        <div class="letter letter-1 letter_001">W</div>
        <div class="letter letter-2 letter_002">E</div>
        <div class="letter letter-3 letter_003">S</div>
        <div class="letter letter-4 letter_004">L</div>
        <div class="letter letter-5 letter_005">E</div>
        <div class="letter letter-6 letter_006">Y</div>
    </div>

</body>
</html>