<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wesley 黄 的 Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../script/css/portfolio.css">
</head>
<body>
    <!-- Header -->
    <header id="welcome-section" class="welcome-header">
        <section class="hello">
            <h1 class="_hello">HELLO</h1>
            <article class="hello-description">
                I AM WESLEY.<br>
                I ENJOY SIMPLICITY &<br>
                MINIMALISTIC DESIGN.
            </article>
        </section>
    </header>
    <!-- Nav -->
    <nav id="navbar">
        <ul class="nav-bar">
            <li><a href="#welcome-section">About</a></li>
            <li>Wesley 黄</li>
            <li><a href="#projects">Work</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <!-- Projects -->
    <main id="projects">
        <h1>My Work</h1>
        <section class="works">
            <section class="work">
                <!-- wrap the bg and img of projects -->
                <section class="work-wrapper work-1">
                    <section class="img-wrapper"></section>
                </section>
                <!-- wrap the block under bg and img -->
                <section class="work-desc">
                    <p>Tribute Page</p>
                </section>
            </section>
            <section class="work">
                <section class="work-wrapper work-2">
                    <section class="img-wrapper"></section>
                </section>
                <section class="work-desc">
                    <p>Survey Page</p>
                </section>
            </section>
            <section class="work">
                <section class="work-wrapper work-3">
                    <section class="img-wrapper"></section>
                </section>
                <section class="work-desc">
                    <p>Landing Page</p>
                </section>
            </section>
            <section class="work">
                <section class="work-wrapper work-4">
                    <section class="img-wrapper"></section>
                </section>
                <section class="work-desc">
                    <p>Documentation Page</p>
                </section>
            </section>
        </section>
    </main>
    <!-- Contact -->
    <footer class="contact" id="contact">
        <section class="contact-list">
            <section class="email">
                <h4>GET IN TOUCH: - </h3>
                    <span><a href=""><i class="far fa-envelope"></i> wesleyng1996@gmail.com</a></span>
            </section>
            <section class="sosmed">
                <h5>Find Me Here: - </h5>
                <span><a href="http://"><i class="fab fa-instagram"></i> Instagram</a></span>
                <span><a href="http://"><i class="fab fa-twitter"></i> Twitter</a></span>
                <span><a href="http://"><i class="fab fa-github"></i> Github</a></span>
                <span><a href="http://"><i class="fab fa-codepen"></i> Codepen</a></span>
                <span><a href="http://" id="profile-link"><i class="fab fa-free-code-camp"></i> freeCodeCamp</a></span>
            </section>
        </section>
        <p>Copyright &copy; 2019 Wesley 黄</p>
    </footer>
</body>
</html>